body {
    background: linear-gradient(to top, rgba(211, 171, 85, 1), rgba(39, 58, 65, 1));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.login-card {
    background: white;
    padding: 90px 50px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 2px rgba(202, 202, 202, 0.16);
    border-radius: 50px;
    height: auto;
    margin-top: 4rem;
    color: rgba(0, 0, 0, 1);
}

.logo {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 160px;
}

.otp-box {
    width: 60px;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 16px;
    background-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    outline: none;
    text-align: center;
    direction: ltr;
    /* الكتابة من الشمال لليمين */
    unicode-bidi: plaintext;
}

.otp-box:focus {
    border: 2px solid #d3ab55;
}

.btn-custom {
    background-color: rgba(211, 171, 85, 1);
    color: white;
    border: none;
    padding: 15px 35px;
    border-radius: 50px;
    width: 100%;
}

.btn-custom:hover {
    background-color: rgb(211, 160, 51);
}

#timer {
    font-size: 14px;
}

@media (max-width:650px) {
    .login-card {
        margin-top: 10rem;
        max-width: 370px;
        height: auto;
    }
}

@media (min-width: 650px) and (max-width:990px) {
    .login-card {
        margin-top: 0rem;
        max-width: 500px;
        height: 70vh;
    }
}