body {
    background: linear-gradient(to top, rgba(211, 171, 85, 1), rgba(39, 58, 65, 1));
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    direction: rtl;
}

.login-card {
    background: white;
    padding: 90px 50px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 2px rgba(202, 202, 202, 0.16);
    border-radius: 50px;
    height: auto;
    margin-top: 4rem;
    color: rgba(0, 0, 0, 1);
}

@media (max-width:992px) {
    .login-card {
        margin-top: 10rem;
        max-width: 450px;
    }
}

.login-card h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: start;
}

.form-control {
    border-radius: 5px;
    margin-bottom: 15px;
    direction: ltr;
}

.btn-login {
    background-color: #f4a261;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 1.1rem;
}

.btn-custom {
    background-color: rgba(211, 171, 85, 1);
    color: rgba(248, 247, 247, 1);
    border: none;
    padding: 15px 35px;
    border-radius: 50px;
    width: 100%;
}

.btn-custom:hover {
    background-color: rgb(211, 160, 51);
    color: rgba(248, 247, 247, 1);
}

.logo {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 160px;
}

@media (max-width: 768px) {
    .login-card h2 {
        font-size: 1.5rem;
    }

    .btn-login {
        font-size: 1rem;
    }
}

.login-card input::placeholder {
    color: rgba(123, 123, 123, 0.5);
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}

.login-card input {
    border: none;
    border-bottom: 1px solid rgba(123, 123, 123, 0.5);
    padding: 1rem;
    border-radius: 0;
}

form a {
    text-decoration: none;
    color: rgba(39, 58, 65, 1);
    font-style: 13px;
    text-align: end !important;
    float: left;
}

form a:hover {
    color: rgb(211, 160, 51);
}

.login-card a {
    text-decoration: none;
    color: rgba(211, 171, 85, 1);
    font-style: 13px
}

@media (max-width:650px) {
    .login-card {
        margin-top: 10rem;
        max-width: 370px;
        height: auto;
    }
}

@media (min-width: 650px) and (max-width:990px) {
    .login-card {
        margin-top: 0rem;
        max-width: 500px;
        height: 70vh;
    }
}

form input {
    text-align: start;
}